Django>=2.0,<3.0
psycopg2>=2.7,<3.0
yamlns
django-bootstrap4==0.0.8
django-crispy-forms==1.7.2
django-extensions==2.2.1
django-filter==2.4.0
django-import-export==1.2.0
django-tables2==2.0.6
django-tables2-bootstrap4==2.0.0b5
django-tables2-column-shifter==0.5.2
django-bootstrap-datepicker-plus==3.0.5
django-widget-tweaks
django-jquery
rq
rq-scheduler
django-rq
django-anymail
sendgrid
pymongo
django-rosetta==0.9.3
