Django>=2.0,<3.0
psycopg2<2.9
yamlns
django-bootstrap4==0.0.8
django-crispy-forms==1.7.2
django-extensions==2.2.1
django-filter==2.1.0
django-import-export==1.2.0
django-scheduler==0.9.3
django-tables2==2.0.6
django-tables2-bootstrap4==2.0.0b5
django-tables2-column-shifter==0.5.2
django-bootstrap-datepicker-plus==3.0.5
django-currentuser==0.5.1
django-widget-tweaks
django-jquery
rq
rq-scheduler
django-rq
django-anymail
sendgrid
pymongo
django-rosetta==0.9.3
connexion
python-jose
djangorestframework
django-cors-headers
django-admin-multiple-choice-list-filter

# dev 
pytest==5.4.3
pytest-cov==2.10.0
pytest-django==3.9.0
flake8>=3.8.3
ipython>=7.16.1
factory-boy==3.2.0
