{% extends 'somsolet/base_layout.html' %}
{% load i18n %}

{% block content%}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">{% trans "Your username and password didn't match. Please try again." %}</div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <form enctype="multipart/form-data" method="post" action="{% url 'login' %}" class="form-signin">
                {% csrf_token %}
                <h3 class="mb-3 font-weight-normal text-center">{% trans "Inicia sessió" %}</h3>
                <div>
                    <label for="{{ form.username.id_for_label }}" class="sr-only">Usuari</label>
                    <input type="text" class="form-control form-username" id="{{ form.username.html_name }}" name="{{ form.username.html_name }}" placeholder="Usuari" value="" />
                </div>
                <div>
                    <label for="{{ form.password.id_for_label }}" class="sr-only">Password</label>
                    <input type="password" class="form-control form-pass" id="{{ form.password.html_name }}" name="{{ form.password.html_name }}" placeholder="Password" value="" />
                </div>
                <div>
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Accedir" />
                </div>
                <p class="mt-2"><a href="{% url 'password_reset' %}">{% trans "Lost password?" %}</a></p>
            </form>
        </div>
    </div>
{%endblock%}
