{% extends 'somsolet/base_layout.html' %}
{% load i18n %}

{% block content %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <form enctype="multipart/form-data" method="post" action="{% url 'password_reset' %}" class="form-signin">
                {% csrf_token %}
                <h3 class="mb-3 font-weight-normal text-center">{% trans "Quin és el teu correu electrònic?" %}</h3>
                <div>
                    <label for="{{ form.email.id_for_label }}" class="sr-only">{% trans "Email"}</label>
                    <input type="text" class="form-control form-pass" id="{{ form.email.html_name }}" name="{{ form.email.html_name }}" placeholder="Email" value="" />
                </div>
                <div>
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Reset password" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}

