{% load i18n %}
{% autoescape off %}

    {%trans "Hola"%} {{ user.get_username }},

	{% trans "Esteu rebent aquest correu electrònic perquè és la primera vegada que accediu o heu sol·licitat un restabliment de la contrasenya per al vostre compte d’usuari a " %} {{ site_name }}

	{% trans "Prem el següent enllaç per activar l'accés i triar la teva contrasenya:" %}

	{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

	{% trans "Recordeu que el vostre nom d’usuari d’inici de sessió és: " %} {{ user.get_username }}

	{% trans "Salutacions," %}

	{{ site_name }}

{% endautoescape %}
