{% extends 'somsolet/base_layout.html' %}
{% load i18n %}

{% block content %}

    {% if validlink %}
        <form action="" method="post" class="form-signin">
            <h5 class="mb-3 font-weight-normal text-center">{% trans "Please enter (and confirm) your new password."%}</h5>
            <div>
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                <label for="{{ form.new_password1.id_for_label }}" class="sr-only">{% trans "New password"%}</label>
                <input type="password" class="form-control form-username" id="{{ form.new_password1.html_name }}" name="{{ form.new_password1.html_name }}" placeholder="New password" value="" />

                <label for="{{ form.new_password2.id_for_label }}" class="sr-only">{% trans "Confirm password"%}</label>
                <input type="password" class="form-control form-pass" id="{{ form.new_password2.html_name }}" name="{{ form.new_password2.html_name }}" placeholder="Confirm password" value="" />
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Change my password" />
                <div class="mt-3">
                    {{ form.new_password1.errors }}
                    {{ form.new_password2.errors }}
                </div>
            </div>
        </form>
    {% else %}
        <h1>{% trans "Password reset failed"%}</h1>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset."%}</p>
    {% endif %}

{% endblock %}
