{% extends 'somsolet/base_layout.html' %}
{% load i18n %}

{% block content%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Campaign" %}</h3>
        </div>
        <div class="panel-body">
            <a href="#" class="list-group-item">
                {% trans "Name" %}: {{project.campaign.name}}
            </a>
            <a href="#" class="list-group-item">
                {% trans "Clients" %}: {{num_clients}}
            </a>
            <a href="#" class="list-group-item">
                {% trans "Installations" %}: {{num_proj}}
            </a>
            <a href="#" class="list-group-item">
                {% trans "Autonomous community" %}: {{project.campaign.autonomous_community|default:" - " }}
            </a>
            <a href="#" class="list-group-item">
                {% trans "Geographical region" %}: {{project.campaign.geographical_region|default:" - " }}
            </a>
            <a href="#" class="list-group-item">
                {% trans "Date completed installations" %}: {{project.campaign.date_completed_installations|default:" - " }}
            </a>
      </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Campaign Details" %}</h3>
        </div>
        <div class="panel-body">
          {% for p in project %}
              {p.client}
         {% endfor %}
         </div>
    </div>
{% endblock %}
