{% extends 'somsolet/base_layout.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content%}

	<div class="row">
		<div class="col-md-6 offset-md-3">
			<table class="table table-bordered table-striped table-hover mt-4">
				<tr>
					<td><b>Name</b></td>
					<td>{{ object.name }}</td>
				</tr>
				<tr>
					<td><b>DNI</b></td>
					<td>{{ object.dni }}</td>
				</tr>
				<tr>
					<td><b>Email</b></td>
					<td>{{ object.email }}</td>
				</tr>
				<tr>
					<td><b>Membership number</b></td>
					<td>{{ object.membership_number }}</td>
				</tr>
				<tr>
					<td><b>Phone number</b></td>
					<td>{{ object.phone_number }}</td>
				</tr>
			</table>
			<div class="text-right">
	            <a class="btn btn-primary active" role="button" aria-pressed="true" onclick="goBack()">Tornar</a>
	        </div>
		</div>
	</div> 

<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}
