{% extends 'somsolet/base_layout.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<table class="table table-bordered table-striped table-hover mt-4">
				<tr>
					<td><b>{% trans "Name"%}</b></td>
					<td>{{ object.name }}</td>
				</tr>
				<tr>
					<td><b>{% trans "DNI"%}</b></td>
					<td>{{ object.dni }}</td>
				</tr>
				<tr>
					<td><b>{% trans "Email"%}</b></td>
					<td>{{ object.email }}</td>
				</tr>
				<tr>
					<td><b>{% trans "Membership number"%}</b></td>
					<td>{{ object.membership_number }}</td>
				</tr>
				<tr>
					<td><b>{% trans "Phone number"%}</b></td>
					<td>{{ object.phone_number }}</td>
				</tr>
			</table>
			<div class="text-right">
	            <a class="btn btn-primary active" role="button" aria-pressed="true" onclick="goBack()">{% trans "Go Back"%}</a>
	        </div>
		</div>
	</div>

{% endblock %}

{% block js %}
	{{ block.super }}
	<script>
		function goBack() {
  			window.history.back();
		}
	</script>
{% endblock %}
