{% extends 'somsolet/base_layout.html' %}

{% load i18n %}

{% load django_tables2 %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <form class="form form-inline form-filters" action="" method="get">
        {{ filter.form.status|add_class:"custom-select mr-sm-2"}}
        {{ filter.form.warning|add_class:"custom-select mr-sm-2"}}
        {{ filter.form.client|attr:"placeholder:Client contains"|add_class:"form-control mr-sm-2"}}
        <button type="submit" class="btn btn-primary"><i class="fa fa-filter" aria-hidden="true"></i></button>
  </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12 table-som">
  {% render_table project %}
  </div>
</div>
  
{% endblock content %}
