{% extends 'somsolet/base_layout.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'fullcalendar/lib/main.min.css' %}" rel='stylesheet'/>
{% endblock %}

{% block content %}
<div class="row">
  <div id="calendar" class="col">      
  </div>
</div>

{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'fullcalendar/lib/main.min.js' %}"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap',
                customButtons: {
                    configureCalendar: {
                        text: 'Configuration',
                        icon: 'fa-cogs'
                    }
                },
                bootstrapFontAwesome: {
                    configureCalendar: 'fa-cogs'
                },
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay configureCalendar'
                },
                initialView: 'dayGridMonth',
                selectable: true,
                editable: true,
                unselectAuto: false
            });
            calendar.render();
      });
    </script>
{% endblock %}
