body {
    padding-top: 3.5rem;
}

h1 a {
    color: #FCA205;
}

.navbar-dark .navbar-brand {
    color: #bac92a;
}

.bg-dark {
    background-color: #444 !important;
}

.btn-outline-primary {
    color: #bac92a !important;
    border-color: #bac92a !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #5b5b5f !important;
    border-color: #5b5b5f !important;
}

.btn-logout {
    color: #5b5b5f !important;
    background-color: #bac92a !important;
    border-color: #bac92a !important;
}

.btn-primary.active {
    color: #fff !important;
    background-color: #bac92a !important;
    border-color: #bac92a !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #bac92a !important;
    border-color: #bac92a !important;
}

.btn-primary:focus .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem #bac92a29;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #bac92a;
    border-color: #bac92a;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #bac92a;
    border-color: #bac92a;
}

.autoComplete_result:hover{
    border-left: 2px solid #bac92a;
    border-right: 2px solid #bac92a;
    background-color: #bac92a29;
}

.autoComplete_highlighted {
    color: #bac92a !important;
}

.form-filters label {
    margin-right: .5rem !important;
    margin-bottom: .25rem !important;
}

.form-control:focus {
    border-color: #bac92a;
    box-shadow: 0 0 0 0.2rem #bac92a29;
}

.table-som a,
.table-campaign a {
    color: #212529 !important;
}

.table-som a:hover {
    color: #bac92a !important;
}

:root {
  --color1: #637674;
  --color2: #9C6D43;
  --color3: #677056;
  --color4: #AB9F8F;
  --color5: #b96d6d;
  --color6: #D9815B;
  --color7: #bac92a;
  --color8: #4589af;
  --color9: #4f9e66;
  --color10: #FEC054;
  --color11: #f50303;
  --color12: #8a72cf;
}


.table-som th:nth-child(5),
.table-som th:nth-child(6),
.table-som th:nth-child(7) {
    background-color: var(--color1);
}


.table-som th:nth-child(8) {
    background-color: var(--color5);
}

.table-som th:nth-child(9),
.table-som th:nth-child(10),
.table-som th:nth-child(11) {
    background-color: var(--color2);
}

.table-som th:nth-child(12),
.table-som th:nth-child(13),
.table-som th:nth-child(14) {
    background-color: var(--color3);
}

.table-som th:nth-child(15),
.table-som th:nth-child(16){
    background-color: var(--color4);
}

.table-som th:nth-child(17),
.table-som th:nth-child(18){
    background-color: var(--color6);
}

.table-som th:nth-child(19){
    background-color: var(--color8);
}

.table-som th:nth-child(20),
.table-som th:nth-child(21){
    background-color: var(--color9);
}

.table-som th:nth-child(22),
.table-som th:nth-child(23){
    background-color: var(--color12);
}

.table-som th:nth-child(24),
.table-som th:nth-child(25){
    background-color: var(--color10);
}

.table-som .status.pre-report-uploaded,
.table-som .status.preinforme-enviado,
.table-som .status.preinforme-enviat{
    color: var(--color1);
}

.table-som .status.s0 {
    color: var(--color7)
}

.table-som .status.technical-visit-scheduled,
.table-som .status.visita-tecnica-programada {
   color: var(--color5)
}

.table-som .status.report-uploaded,
.table-som .status.informe-visita-tecnica-enviado,
.table-som .status.informe-visita-tecnica-enviat {
    color: var(--color2)
}


.table-som .status.engineering-offer,
.table-som .status.oferta-enviada {
    color: var(--color3)
}

.table-som .status.contract-signature,
.table-som .status.contrato-llave-en-mano-firmado,
.table-som .status.contracte-clau-en-ma-signat{
    color: var(--color4)
}

.table-som .status.construction-permit,
.table-som .status.permiso-de-obras,
.table-som .status.llicencia-dobra {
    color: var(--color6)
}

.table-som .status.date-permit,
.table-som .status.data-permisso,
.table-som .status.fecha-permiso {
    color: var(--color6)
}

.table-som .status.date-installation-set,
.table-som .status.fecha-de-obras-definida,
.table-som .status.data-dobra-definida {
    color: var(--color8)
}

.table-som .status.end-installation,
.table-som .status.obra-finalizada,
.table-som .status.obra-finalitzada {
    color: var(--color9)
}

.table-som .status.legal-registration,
.table-som .status.registro-de-legalizacion-en-progreso,
.table-som .status.registre-en-progres {
    color: var(--color12)
}

.table-som .status.legalization,
.table-som .status.legalizacion-completada,
.table-som .status.legalitzacio-completada {
    color: var(--color10)
}

.table-som .status.pre-report-review,
.table-som .status.report-review,
.table-som .status.offer-review {
    color: var(--color7)
}

 {
    color: var(--color7)
}

.table-som .status.discarded,
.table-som .status.descartado,
.table-som .status.descartat {
    color: var(--color11)
}

.som-foot p {
    text-align: center;
    font-weight: 500;
}

.som-foot .fa-heart {
    color: #bac92a;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #bac92a !important;
    border-color: #bac92a !important;
}

.table-campaign th:nth-child(1),
.table-campaign th:nth-child(2),
.table-campaign th:nth-child(3){
    background-color: var(--color7);
}

.loader{
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #bac92a;
}

/* Login */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin .form-pass {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.errorList {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  padding: .75rem 1.75rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.form-language {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.right-navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  list-style: none;
  margin-bottom: 0;
}

.form-language .custom-select {
  min-width: 65px;
  padding: 4px 12px;
  font-size: 14px;
  background: transparent;
  border: 1px #ccc solid;
  border-radius: 4px;
  color: #ccc;
}
