secret_key: super_secret_key
jwt_signing_key: jwt_super_secret_key

databases:
  name: database_name
  host: host
  port: port
  user: user
  password: password

mongodb:
  host: host
  port: port
  user: user
  password: passwd
  name: colectioname
 
redis:
  url: redis://redis_uri

sendgrid_api_key: api_key

email:
  default_from: email@domain.coop
  bcc: email@domain.coop

cors:
  whitelist:
    - https://host:port
  allowed_headers:
    - allowed_header
